.boba {
    width: 200px;
    border-radius: 28px;
    height: auto;
    box-shadow: 4px 4px 14px rgba(0,0,0,025)
}

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color:antiquewhite;
}

a {
    color:black;
    text-decoration: none;
}

a:hover{
    text-decoration: line-through;
}

a:active {
    color:blue;
}

a:visited {
    color:red;
}


@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 20px;
}

.info-text h2 {
    margin-bottom: 10px;
}

.info p {
    color: none;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* letter-spacing: 10px; */
    /* word-spacing: 4px; */
}

.bg-yellow {
    background:rgba(141, 214, 99, 0.759);
}

.bg-green {
    background:rgba(175, 207, 175, 0.677);
}  

.container {
   max-width: 750px;
   margin: auto;
   padding-top: 20px;
   margin-bottom: 500px;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2{
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    color:rgba(189, 166, 15, 0.76);
    margin-bottom: 8px;
}

.table {
    width: 100%;
}

.table td:nth-child(1), 
.table td:nth-child(2),
.table td:nth-child(3) {
    color:cadetblue;
}

 td {
    text-align: center;
}

.statistics {
    text-align: center;
}

/* .table tr:nth-child(even) {
    background: red;
} */

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 15px;
    color:cadetblue;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    /* background: transparent; */
    border-bottom: 1px solid #00ff00;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.btn {
    background: black;
    color:aliceblue;
    padding: 15px 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

/* Position */
/* 
.position {
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    position: relative;
    height: 300px;
} */

/* .box {
    width: 50px;
    height: 50px;
    background:chocolate;
    position: fixed;
    /* bottom: 200px; */
    /* left: 0; */
    /* bottom: 50px; */
    /* right: 50px; */
    /* border-radius: 50%; */
/* } */ 